
# Created by https://www.gitignore.io/api/octobercms
# Edit at https://www.gitignore.io/?templates=octobercms

### OctoberCms ###
/bootstrap/compiled.php
# /vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php
myportfolio.zip

# for netbeans compiler
nbproject

# End of https://www.gitignore.io/api/octobercms
myportfolio.zip
