description = "Basic info about me"
==
<header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img
          class="img-fluid mb-5 d-block mx-auto"
          src="{{'me.jpg'|media}}"
          alt=""
          width="300px"
          style="border-radius: 50%;"
        />
        <h1 class="text-uppercase mb-0">Saqlain Mahmud</h1>
        <hr class="star-light" />
        <h2 class="font-weight-light mb-0">
          React - PHP/Laravel - NodeJS/Express - Django
        </h2>
      </div>
</header>